@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body{
    margin: 0;
}
*, ::before, ::after{
    box-sizing: border-box;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.ctn-2{
    flex: 0 0 50%;
    max-width: 50%;
}
.ctn-3{
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.ctn-4{
    flex: 0 0 25%;
    max-width: 33.33%;
}

/************\
    NAVBAR
\************/
.nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:#fff;
    padding: 30px 50px;
    background: transparent;
    position: absolute;
    transition: all 0.5s ease;
    z-index: 9999;
}
.nav .nav-logo a{
    text-decoration: none;
}
.nav .nav-logo img{
    max-height: 40px;
}
.nav ul{
    margin: 0;
}
.nav li{
    display: inline;
    margin-right: 20px;
    padding: 5px 8px;
    transition: all 0.5s;
    cursor: pointer;
}
.nav .box{
    border: 1px solid #fff;
    padding: 5px 8px;
    margin-right: 25px;
}
.nav a{
    text-decoration: none;
    color: inherit;
    font-size: 0.8em;
    font-family: 'Open Sans';
    font-weight: 400;
}
.nav .box:hover{
    background-color: #fff;
    color: #000;
}
.nav li:hover{
    background: #343434;
    color: #fff;
}

.nav-dark{
    position: fixed;
    top: 0;
    width: 100%;
    background: #232323;
    padding: 15px 50px;
    box-shadow: 0 3px 20px 0 rgba(0,0,0,1);
}

.nav-light{
    position: fixed;
    top: 0;
    width: 100%;
    background: #fed4cb;
    padding: 15px 50px;
    box-shadow: 0 3px 20px 0 rgba(0,0,0,1);
    color: #888 !important;
}

.nav-light .box{
    border: 1px solid #888;
}

@keyframes spin{
    25% {transform: rotate(90deg)}
    50% {transform: rotate(180deg)}
    75% {transform: rotate(270deg)}
    100% {transform: rotate(360deg)}
}

.nav-dark img, .nav .nav-logo img:hover{
    animation-name: spin;
    animation-duration: 0.5s;
}

@media only screen and (max-width: 768px){
    .nav li{
        margin-right: 10px;
        padding: 3px;
    }
    .nav .box{
        margin: 0;
    }
}

/************\
    FOOTER
\************/

.footer{
    width: 100%; 
    height: 30vh; 
    background-color: #232323; 
    display: flex; 
    justify-content: center; 
    font-family: 'Open Sans'; 
    color: #fff;
}
.footer-logo{
    width: 20%; 
    padding: 30px; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-around; 
    align-items: center;
}
.footer-logo img{
    max-height: 75%;
}
.footer-contact{
    display: flex; 
    width: 30%;
}
.footer-contact-inner{
    width: 100%; 
    padding: 30px; 
    background-color: #333; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-around;
}
.footer-contact-title{
    border-bottom: 1px solid #fff;
}
.footer-contact-content{
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}
.footer-contact-content a{
    text-decoration: none; 
    color: #fff; 
    margin-top: 5px;
}

@media only screen and (max-width: 768px){
    .footer{
        flex-direction: column;
        height: 100%;
    }
    .footer-logo{
        width: 100%;
        justify-content: space-around;
    }
    .footer-logo img{
        max-height: 25vw;
    }
    .footer-logo small{
        font-size: 2.5vw;
        margin-top: 10px;
    }
    .footer-contact{
        width: 100%;
    }
    .footer-contact-inner{
        flex-direction: row;
    }
    .footer-contact-title{
        width: 30%;
        border-bottom: none;
        border-right: 1px solid #fff;
    }
    .footer-contact-content{
        width: 65%;
        align-items: start;
    }
}

/*********************\
|   REAL INDEX PAGE   |
\*********************/

/*************\
    HEADER
\*************/

.content-header{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-image: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.75) ), url('assets/home_desktop.png');
    background-size: cover;
}

.inner-content-header{
    width: 50vw;
    text-align: center;
    user-select: none;
}

.content-header h1{
    font-family: 'Open Sans';
    font-weight: 700;
    margin: 0;
    font-size: 4em;
}

.content-header p{
    font-family: 'Dancing Script', cursive;
    font-size: 1.2em;
}

#headerText span{
    display: inline-block;
    transition: all 0.3s ease;
}
#headerText span:hover{
    transform: skew(-10deg);
}

/* About Header */
.section-about .content-header{
    background-image: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.75) ), url('assets/about.png');
}

.section-about .content-header{
    justify-content: right;
}

.section-about .content-header p{
    font-family: 'Courier New';
    font-size: 0.8em;
}

.section-about .inner-content-header{
    width: 65vw;
    padding: 5em;
}

@media screen and (max-width: 768px){
    .content-header{
        background-image: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.75) ), url('assets/home_mobile.png');
    }

    .content-header h1{
        font-size: 3em;
    }

    .section-about .content-header{
        justify-content: center;
    }

    .inner-content-header{
        width: 70vw;
        text-align: left;
    }

    .section-about .inner-content-header{
        width: 80vw;
        padding: 0;
    }
}

/************\
    QUOTE
\************/

.content-quote-wrapper{
    margin-bottom: 50px;
}

.quote-text-wrapper{
    height: auto; 
    padding-top: 30px; 
    width: 100%; 
    background-color: inherit; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    overflow: hidden;
}

/* displaying quote */
.quote-text{
    transition: all 0.8s ease-in-out;
    visibility: visible;
    opacity: 1;
    height: auto; 
    width: 90%; 
    padding: 2em; 
    background-image: linear-gradient(to right, #000, #222); 
    border-radius: 0 20px 20px 0; 
    color: #888; 
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

.section-content .quote-text{
    border: 1px solid #fff;
    border-radius: 20px;
    background: transparent;
}

.quote-text blockquote, .quote-text span{
    transition: all 0.8s ease;
    font-family: 'Dancing Script', cursive;
    font-size: 1.4em;
}
 /* quotee */
.quote-text span{
    font-size: 1em;
}
/* quote text */
.quote-text blockquote p{
    font-size: 0.8em;
}
/* quotation mark */
.quote-text blockquote::before, .quote-text blockquote::after{
    position: relative;
    font-size: 1.4em;
    font-family: 'Dancing Script', cursive;
    color: #888;
    line-height: 1.2em;
    top: 3px;
}
.quote-text blockquote::before{
    content: '\201C';
}
.quote-text blockquote::after{
    content: '\201D';
}

/* hide the quote when offscreen */
.quote-hidden .quote-text-wrapper .quote-text{
    transform: translateX(-150px);
    background: transparent;
    visibility: hidden;
    opacity: 0;
}

/* Filter input box */
.content-quote-filter{
    width: 100%; 
    margin-top: 20vh; 
    padding: 30px; 
    background-color: inherit; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-quote-filter-inner{
    height: auto;
    width: 50%;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.content-quote-filter p{
    font-family: 'Dancing Script', cursive; 
    font-size: 1.2em; 
    color: #888;
}

.content-quote-filter input{
    display: block;
    width: 100%; 
    border-radius: 15px; 
    padding: 15px;
    color: #495058;
    font-family: "Dancing Script", cursive;
    font-size: 1.3em;
    border: 2px solid #ced4da;
    transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out;
}
.content-quote-filter input:focus{
    background-color: #fff;
    border-color: #80bdff;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.quote-modal-wrapper{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
    transition: all 0.3s ease-in-out;
}

.quote-modal-box{
    position: fixed;
    height: auto;
    width: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fee5bc;
    color: #888;
    border-radius: 20px;
    padding: 2em 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 999;

}

.quote-modal-box button{
    padding: 0.5em 1em;
    border: none;
    border-radius: 10px;
    background-color: #fbc36a;
    color: #fff;
    cursor: pointer;
    margin-top: 3em;
    font-weight: bold;
}

.quote-modal-box button:hover{
    background-color: #fbba51;
}

.notif-box{
    position: fixed;
    height: auto;
    width: auto;
    bottom: -5em;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffba;
    color: #888;
    border-radius: 10px;
    padding: 1em 2em;
    transition: all 0.5s ease-in-out;
    z-index: 9999;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px){
    .content-quote-filter-inner{
        width: 90%;
    }

    .quote-modal-box{
        width: 80vw;
    }
}

/*************\
    COOKIES
\*************/
.section-cookies{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #232323;
    z-index: 999;
    transition: all 0.5s ease;
    box-shadow: 0 3px 20px 0 rgba(0,0,0,1);
}
.section-cookies-inner{
    padding: 15px;
    text-align: center;
    color: #dbe0df;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
}
.section-cookies-inner .button{
    display: inline-block;
    margin-left: 10px;
    line-height:normal;
    padding: 10px 20px;
    /* background-color: #49c5b6; */
    /* color: #fff; */
    background-color: #fff;
    color: #000;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.section-cookies-inner .button:hover{
    /* background-color: #37aea0; */
    background-color: #ccc;
}

/****************************\
    GENERAL - SMALL SCREEN
\****************************/

@media screen and (max-width: 768px){
    *{
        font-size: 3vw;
    }
}

@media screen and (max-width: 360px){

}